.test__container {
  display: flex;
  margin: auto;
  height: 225px;
  max-width: 30%;
  border: 15px;
  border-radius: 10px;
  background: whitesmoke;
}

.test__section {
  text-align: center;
  margin: auto;
}
