.test__container {
  display: flex;
  margin: auto;
  height: 225px;
  max-width: 34%;
  border: 15px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px 0px rgba(174, 174, 174, 0.75);
  background: whitesmoke;
}

.test__section {
  text-align: center;
  margin: auto;
}
